// --------------------------------------------------
// Variables ----- color palettes  
// --------------------------------------------------

// 场景色 ----- scene color    
// --------------------------------------------------
//主题色
$mk-color-info              : #3B8CFF;
//成功色
$mk-color-success           : #44CF60;
//提醒色
$mk-color-warn              : #FAC152;
//危险色
$mk-color-danger            : #FF6869;  

// 导航色 ----- navigation color
// --------------------------------------------------
//顶部导航色
$mk-color-navigation-top    : #303243;
//左侧导航色
$mk-color-navigation-left   : #494B61;

// 文字色 ----- text color
// --------------------------------------------------
//标题文字（大标题）
$mk-color-text-title        : #303133;
//常规文字（主文本）
$mk-color-text-primary      : #606266;
//次要文字（副文本）
$mk-color-text-secondary    : #919398;
//占位文字
$mk-color-text-placeholder  : #C0C4CC;

// 边框色 ----- border color
// --------------------------------------------------
// 四级边框
$mk-color-border-grey-100   : #F2F6FC;
// 三级边框
$mk-color-border-grey-200   : #ECEEF5;
// 二级边框
$mk-color-border-grey-300   : #E3E7ED;
// 一级边框
$mk-color-border-grey-400   : #DDDFE6;

// 黑白色 ----- white black color
// --------------------------------------------------
// 白色
$mk-color-white             : #FFFFFF;
// 黑色
$mk-color-black             : #000000;

$mk-color-orange            : #fd5e01;
//

$mk-bg-orange               :#f06d40;


//TODO 背景色
