// --------------------------------------------------
// Variables ----- font   
// --------------------------------------------------

// MAC     ----- mac默认字体   
// --------------------------------------------------
// 常规字体
$mk-font-mac-regular   : "SF Pro Display";
// 加粗字体
$mk-font-mac-medium    : "SF Pro Display Medium";

// Window  ----- window默认字体 
// --------------------------------------------------
// 常规字体
$mk-font-mac-regular   : "Microsoft YaHei";
// 加粗字体
$mk-font-win-medium    : "Microsoft YaHei Medium";

